# cd ~/.ssh
# ssh-keygen -t rsa -C "your_email@associated_with_githubPersonal.com"
# save it as id_rsa_personal when prompted

# ssh-keygen -t rsa -C "your_email@associated_with_githubWork.com"
# save it as id_rsa_work when prompted


# githubPersonal
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_personal

# githubWork
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_work
