# cd ~/.ssh
# ssh-keygen -t rsa -C "your_email@associated_with_githubPersonal.com"
# save it as id_rsa_personal when prompted

# ssh-keygen -t rsa -C "your_email@associated_with_githubWork.com"
# save it as id_rsa_work when prompted

# Other useful options
# ForwardAgent yes - Used to forward authentication when accessing remote systems
# and using that remote system to loging to other hosts. Only use if you trust
# the remote machine.


Host github.com
        User git
        Hostname github.com
        PreferredAuthentications publickey
        IdentityFile /home/user/.ssh/id_rsa

# githubPersonal
Host personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_personal

# githubWork
Host work
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_work

# default
Host *
	User example
