# cd ~/.ssh
# ssh-keygen -t rsa -C "your_email@associated_with_githubPersonal.com"
# save it as id_rsa_personal when prompted

# ssh-keygen -t rsa -C "your_email@associated_with_githubWork.com"
# save it as id_rsa_work when prompted

# ssh-keygen


# githubPersonal
Host personal
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_personal

# githubWork
Host work
	HostName github.com
	User git
	IdentityFile ~/.ssh/id_rsa_work

# default
Host *
	User example
