# Ignore everything 
*
# But not these files...
!.bash_aliases
!.bash_profile
!.bashrc
!.bashrc.ubuntu
!.bashrc.ubuntu.override
!.env_paths.example
!.env_vars.example
!.gitconfig
!.gitignore
!.vimrc
!README.md
