[push]
	default = simple
[core]
	editor = vim
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	co = checkout
	ci = commit
	st = status
	br = branch
[user]
	useConfigOnly = true
